{
	"presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "8.3.0",
        "electron": "9.0.0"
      }
    }]
	],
	"plugins": [
		"@babel/plugin-transform-regenerator",
    "@babel/plugin-transform-destructuring",
		"@babel/plugin-proposal-object-rest-spread"
	]
}
